module "tf-1-markets-png-969" {
  source = "module-1-markets-png-969"

  # network_id - type: string
  # The ID of the network to attach the port resources to
  network_id = ""

  # subnet_id - type: string
  # Subnet in which to allocate an IP address
  subnet_id = ""

  # env - type: string
  # env = "[PLACEHOLDER]"

  # project - type: string
  # project = "[PLACEHOLDER]"
}
